@import 'bootstrap/scss/bootstrap';
@import 'remixicon/fonts/remixicon';

@import 'components/general.scss';
@import 'containers/content.scss';
@import 'components/contact.scss';
@import 'components/call_to_action.scss';

@import 'sections/header.scss';
@import 'sections/footer.scss';

@import 'views/login.scss';
@import 'views/products.scss';
@import 'views/contact.scss';
@import 'views/landing.scss';

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: 0.4rem;
$success: #7952b3;

body {
  min-height: -webkit-fill-available;
  min-height: 100vh;
  width: 100%; 
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

html {
  height: -webkit-fill-available;
}

main {
  height: -webkit-fill-available;
  height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}
